.git
__pycache__
*.pyc
.env
Dockerfile
tmp/
data/
main/xiaozhi-server/config.yaml
main/xiaozhi-server/data/
main/xiaozhi-server/mcp_server_settings.json
main/xiaozhi-server/museum-data/
main/xiaozhi-server/mysql/
main/xiaozhi-server/redis/
main/xiaozhi-server/tmp/
